<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 mb-2">
        <h5>Apna Bazaar</h5>
        <p class="small">Your trusted digital dukaan for daily needs.</p>
      </div>
      <div class="col-md-4 mb-2">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white text-decoration-none">Home</a></li>
          <li><a href="/about" class="text-white text-decoration-none">About Us</a></li>
          <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-2">
        <h5>Contact</h5>
        <p class="small mb-1">Email: support@apnabazaar.com</p>
        <p class="small mb-0">Phone: +91-9876543210</p>
      </div>
    </div>
    <hr class="border-light">
    <p class="mb-0 small">&copy; <%= new Date().getFullYear() %> Apna Bazaar. All rights reserved.</p>
  </div>
</footer>
