<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">bitBros</a>
    
    <button class="hamburger" id="menu-toggle">&#9776;</button>

    <ul class="navbar-links" id="navbar-links">
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>


<script>
  const toggle = document.getElementById("menu-toggle");
  const navLinks = document.getElementById("navbar-links");

  toggle.addEventListener("click", () => {
    navLinks.classList.toggle("active");
  });
</script>
