<% layout("layouts/boilerplate") %>

<div class="dashboard-container">
  <h1 class="mb-3">Welcome, Seller!</h1>
  
  <div class="user-info-card">
    <h2>Your Profile</h2>
    <hr>
    <ul>
      <li><strong>Phone:</strong> 9876543210</li>
      <li><strong>User Type:</strong> seller</li>
      <li><strong>Address:</strong>
        street, 
        indore, 
        mp, 
        456010
      </li>
      <li><strong>Registered On:</strong> 12/12/2025</li>
    </ul>
  </div>

  <div class="dashboard-actions">
    
      <a href="/vendor/add-product" class="btn col-5 mb-2">Add New Product</a>
      <a href="/vendor/products" class="btn col-5 mb-2">Manage Products</a>

      <a href="/supplier/requests" class="btn col-5 mb-2">View Requests</a>
      <a href="/supplier/update-stock" class="btn col-5 mb-2">Update Stock</a>

  </div>
</div>
