<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/css/user.css">

<form class="form" action="/login" method="POST">
  <div class="flex-column">
    <label>Phone Number</label>
    <div class="inputForm">
      <input type="text" class="input" name="phone" placeholder="Enter your phone number" required />
    </div>
  </div>

  <button class="button-submit">Send OTP</button>
  <p class="p">Don't have an account? <a href="/signup" class="span">Sign up</a></p>
</form>